$waf_font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$waf_background: rgb(56, 138, 231);
$waf_color: rgb(65, 60, 60);
$waf_white: white;
$waf_hdr_color: #85befb;
$waf_btn_hover: #777;
$waf_form_hdr_height: 30px;