<div class="notify-form">
    <div class="form-header"></div>
    <div>
        <label for="" style="font-weight: bold; font-size: 40px; width: 100%; padding: 2px;">Internal Server Error.</label>
        <br>
        {{# if error}}
        <label style="color: red;"> {{error}}</label> 
        <br>
        {{/if}}
        <label for="">Please click <a href="/home">here</a> to refresh page.!</label>
    </div>
    <div class="form-header"></div>
</div>