<div class="notify-form">
    <div class="form-header"></div>
    <div>
        <label for="" style="font-weight: bold; font-size: 40px; width: 100%; padding: 2px;">User Session not authorized.</label>
        <br>
        <label for="">Please click <a href="/">login</a> for session authorization.!</label>
    </div>
    <div class="form-header"></div>
</div>